# TensorFlow is much easier to install using Anaconda, especially
# on Windows or when using a GPU. Please see the installation
# instructions in INSTALL.md

##### Core scientific packages
jupyter==1.0.0
matplotlib==3.3.4
numpy==1.19.5
pandas
scipy

##### Machine Learning packages
scikit-learn==0.24.1
sympy==1.0
